<% @page_title = "Team List"%>

<div class="team list">
  <h2>Teams</h2>
  <%= link_to("Add new team", {:action =>'new'},:class => 'action new')%>
  
  <table class="listing" summary="user list">
    <tr class="header">
      <th>Name</th>
      <th>Seed</th>
      <th>Draft_pick_id</th>
    </tr>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.seed %></td>
      <td><%= team.draft_pick_id %></td>
      
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => team.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => team.id}, :class => 'action edit') %>
        <%= link_to("Delete",{:action => 'delete', :id => team.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>